<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lan.ichat.dao.AdminMapper">

    <select id="getAdminByUsername" resultType="com.lan.ichat.model.Admin">
        SELECT
            `id`,
            `username`,
            `password`,
            `last_login_time`,
            `avatar`,
            `email`
        FROM ichat_admin
        WHERE username = #{username}
    </select>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="admin.id">
        INSERT INTO ichat_admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="admin.id!=null">id,</if>
            <if test="admin.username!=null">username,</if>
            <if test="admin.password!=null">password,</if>
            <if test="admin.lastLoginTime!=null">last_login_time,</if>
            <if test="admin.avatar!=null">avatar,</if>
            <if test="admin.email!=null">email,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="admin.id!=null">#{admin.id,jdbcType=BIGINT},
            </if>
            <if test="admin.username!=null">#{admin.username,jdbcType=VARCHAR},
            </if>
            <if test="admin.password!=null">#{admin.password,jdbcType=VARCHAR},
            </if>
            <if test="admin.lastLoginTime!=null">#{admin.lastLoginTime,jdbcType=DATE},
            </if>
            <if test="admin.avatar!=null">#{admin.avatar,jdbcType=VARCHAR},
            </if>
            <if test="admin.email!=null">#{admin.email,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE ichat_admin
        <set>
            <if test="admin.id != null">id= #{admin.id,jdbcType=BIGINT},</if>
            <if test="admin.username != null">username= #{admin.username,jdbcType=VARCHAR},</if>
            <if test="admin.password != null">password= #{admin.password,jdbcType=VARCHAR},</if>
            <if test="admin.lastLoginTime != null">last_login_time= #{admin.lastLoginTime,jdbcType=DATE},</if>
            <if test="admin.avatar != null">avatar= #{admin.avatar,jdbcType=VARCHAR},</if>
            <if test="admin.email != null">email= #{admin.email,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{admin.id,jdbcType=BIGINT}
    </update>
</mapper>

