<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lan.ichat.dao.SessionMapper">

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        `id`,
        `device_id`,
        `host`,
        `account`,
        `device_type`,
        `device_model`,
        `client_version`,
        `system_version`,
        `package_name`,
        `bind_time`,
        `status`
    </sql>

    <select id="getByAccount" resultType="org.spoom.im.sdk.server.IMSession">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ichat_session WHERE account=#{account}
    </select>

    <select id="getSessionList" resultType="org.spoom.im.sdk.server.IMSession">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ichat_session WHERE status=1
    </select>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="iMSession.id">
        INSERT INTO ichat_session
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="iMSession.id!=null">`id`,</if>
            <if test="iMSession.deviceId!=null">`device_id`,</if>
            <if test="iMSession.host!=null">`host`,</if>
            <if test="iMSession.account!=null">`account`,</if>
            <if test="iMSession.deviceType!=null">`device_type`,</if>
            <if test="iMSession.deviceModel!=null">`device_model`,</if>
            <if test="iMSession.clientVersion!=null">`client_version`,</if>
            <if test="iMSession.systemVersion!=null">`system_version`,</if>
            <if test="iMSession.packageName!=null">`package_name`,</if>
            <if test="iMSession.bindTime!=null">`bind_time`,</if>
            <if test="iMSession.status!=null">`status`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="iMSession.id!=null">#{iMSession.id,jdbcType=VARCHAR},
            </if>
            <if test="iMSession.deviceId!=null">#{iMSession.deviceId,jdbcType=VARCHAR},
            </if>
            <if test="iMSession.host!=null">#{iMSession.host,jdbcType=VARCHAR},
            </if>
            <if test="iMSession.account!=null">#{iMSession.account,jdbcType=VARCHAR},
            </if>
            <if test="iMSession.deviceType!=null">#{iMSession.deviceType,jdbcType=VARCHAR},
            </if>
            <if test="iMSession.deviceModel!=null">#{iMSession.deviceModel,jdbcType=VARCHAR},
            </if>
            <if test="iMSession.clientVersion!=null">#{iMSession.clientVersion,jdbcType=VARCHAR},
            </if>
            <if test="iMSession.systemVersion!=null">#{iMSession.systemVersion,jdbcType=VARCHAR},
            </if>
            <if test="iMSession.packageName!=null">#{iMSession.packageName,jdbcType=VARCHAR},
            </if>
            <if test="iMSession.bindTime!=null">#{iMSession.bindTime,jdbcType=BIGINT},
            </if>
            <if test="iMSession.status!=null">#{iMSession.status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE ichat_session
        <set>
            <if test="iMSession.id != null">`id`= #{iMSession.id,jdbcType=VARCHAR},</if>
            <if test="iMSession.deviceId != null">`device_id`= #{iMSession.deviceId,jdbcType=VARCHAR},</if>
            <if test="iMSession.host != null">`host`= #{iMSession.host,jdbcType=VARCHAR},</if>
            <if test="iMSession.account != null">`account`= #{iMSession.account,jdbcType=VARCHAR},</if>
            <if test="iMSession.deviceType != null">`device_type`= #{iMSession.deviceType,jdbcType=VARCHAR},</if>
            <if test="iMSession.deviceModel != null">`device_model`= #{iMSession.deviceModel,jdbcType=VARCHAR},</if>
            <if test="iMSession.clientVersion != null">`client_version`= #{iMSession.clientVersion,jdbcType=VARCHAR},</if>
            <if test="iMSession.systemVersion != null">`system_version`= #{iMSession.systemVersion,jdbcType=VARCHAR},</if>
            <if test="iMSession.packageName != null">`package_name`= #{iMSession.packageName,jdbcType=VARCHAR},</if>
            <if test="iMSession.bindTime != null">`bind_time`= #{iMSession.bindTime,jdbcType=BIGINT},</if>
            <if test="iMSession.status != null">`status`= #{iMSession.status,jdbcType=TINYINT}</if>
        </set>
        WHERE `id` = #{iMSession.id,jdbcType=VARCHAR}
    </update>

    <delete id="delete">
        DELETE FROM ichat_session
        WHERE account = #{account}
    </delete>
</mapper>

