<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lan.ichat.dao.UserMapper">
    <select id="getUserList" resultType="com.lan.ichat.model.UserEntity">
        SELECT
            `id`,
            `username`,
            `nickname`,
            `telephone`,
            `motto`,
            `password`,
            `avatar`,
            `create_time`,
            `online`,
            `enabled`,
            `last_login_time`,
            `gender`,
            `email`,
            `region`
        FROM ichat_user
    </select>

    <select id="getUserByUsername" resultType="com.lan.ichat.model.UserEntity">
        SELECT
            `id`,
            `username`,
            `nickname`,
            `telephone`,
            `motto`,
            `password`,
            `avatar`,
            `create_time`,
            `online`,
            `enabled`,
            `last_login_time`,
            `gender`,
            `email`,
            `region`
        FROM ichat_user
        WHERE username = #{username}
    </select>

    <select id="getUserById" resultType="com.lan.ichat.model.UserEntity">
        SELECT
            `id`,
            `username`,
            `nickname`,
            `telephone`,
            `motto`,
            `password`,
            `avatar`,
            `create_time`,
            `online`,
            `enabled`,
            `last_login_time`,
            `gender`,
            `email`,
            `region`
        FROM ichat_user
        WHERE id = #{id}
    </select>

    <select id="getFriendList" resultType="com.lan.ichat.model.UserEntity">
        SELECT
            a.`username`,
            a.`nickname`,
            a.`telephone`,
            a.`motto`,
            a.`avatar`,
            a.`gender`,
            a.`region`,
            a.`email`,
            b.`hide_my_mm`,
            b.`hide_his_mm`,
            b.`star`,
            b.`blacklist`,
            b.`chatroom`
        FROM ichat_friend b INNER JOIN ichat_user a ON a.id = b.friend_id AND b.user_id = #{id}
    </select>

    <insert id="addFriend">
        INSERT INTO ichat_friend
        (user_id, friend_id, hide_my_mm, hide_his_mm, star, blacklist, chatroom)
        VALUES
            (#{userId}, #{friendId}, #{hideMyMM}, #{hideHisMM}, #{star}, #{blacklist}, #{chatroom})
    </insert>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="userEntity.id">
        INSERT INTO ichat_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userEntity.id!=null">id,</if>
            <if test="userEntity.username!=null">username,</if>
            <if test="userEntity.nickname!=null">nickname,</if>
            <if test="userEntity.telephone!=null">telephone,</if>
            <if test="userEntity.motto!=null">motto,</if>
            <if test="userEntity.password!=null">password,</if>
            <if test="userEntity.avatar!=null">avatar,</if>
            <if test="userEntity.createTime!=null">create_time,</if>
            <if test="userEntity.online!=null">online,</if>
            <if test="userEntity.enabled!=null">enabled,</if>
            <if test="userEntity.lastLoginTime!=null">last_login_time,</if>
            <if test="userEntity.gender!=null">gender,</if>
            <if test="userEntity.email!=null">email,</if>
            <if test="userEntity.region!=null">region,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userEntity.id!=null">#{userEntity.id,jdbcType=BIGINT},
            </if>
            <if test="userEntity.username!=null">#{userEntity.username,jdbcType=VARCHAR},
            </if>
            <if test="userEntity.nickname!=null">#{userEntity.nickname,jdbcType=VARCHAR},
            </if>
            <if test="userEntity.telephone!=null">#{userEntity.telephone,jdbcType=VARCHAR},
            </if>
            <if test="userEntity.motto!=null">#{userEntity.motto,jdbcType=VARCHAR},
            </if>
            <if test="userEntity.password!=null">#{userEntity.password,jdbcType=VARCHAR},
            </if>
            <if test="userEntity.avatar!=null">#{userEntity.avatar,jdbcType=VARCHAR},
            </if>
            <if test="userEntity.createTime!=null">#{userEntity.createTime,jdbcType=DATE},
            </if>
            <if test="userEntity.online!=null">#{userEntity.online,jdbcType=TINYINT},
            </if>
            <if test="userEntity.enabled!=null">#{userEntity.enabled,jdbcType=TINYINT},
            </if>
            <if test="userEntity.lastLoginTime!=null">#{userEntity.lastLoginTime,jdbcType=DATE},
            </if>
            <if test="userEntity.gender!=null">#{userEntity.gender,jdbcType=INTEGER},
            </if>
            <if test="userEntity.email!=null">#{userEntity.email,jdbcType=VARCHAR},
            </if>
            <if test="userEntity.region!=null">#{userEntity.region,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO ichat_user (
        `id`,
        `username`,
        `nickname`,
        `telephone`,
        `motto`,
        `password`,
        `avatar`,
        `create_time`,
        `online`,
        `enabled`,
        `last_login_time`,
        `gender`,
        `email`,
        `region`
        )VALUES
        <foreach collection="userEntitys" item="userEntity" index="index" separator=",">
            (
            #{userEntity.id,jdbcType=BIGINT},
            #{userEntity.username,jdbcType=VARCHAR},
            #{userEntity.nickname,jdbcType=VARCHAR},
            #{userEntity.telephone,jdbcType=VARCHAR},
            #{userEntity.motto,jdbcType=VARCHAR},
            #{userEntity.password,jdbcType=VARCHAR},
            #{userEntity.avatar,jdbcType=VARCHAR},
            #{userEntity.createTime,jdbcType=DATE},
            #{userEntity.online,jdbcType=TINYINT},
            #{userEntity.enabled,jdbcType=TINYINT},
            #{userEntity.lastLoginTime,jdbcType=DATE},
            #{userEntity.gender,jdbcType=INTEGER},
            #{userEntity.email,jdbcType=VARCHAR},
            #{userEntity.region,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE ichat_user
        <set>
            <if test="userEntity.id != null">id= #{userEntity.id,jdbcType=BIGINT},</if>
            <if test="userEntity.username != null">username= #{userEntity.username,jdbcType=VARCHAR},</if>
            <if test="userEntity.nickname != null">name= #{userEntity.nickname,jdbcType=VARCHAR},</if>
            <if test="userEntity.telephone != null">telephone= #{userEntity.telephone,jdbcType=VARCHAR},</if>
            <if test="userEntity.motto != null">motto= #{userEntity.motto,jdbcType=VARCHAR},</if>
            <if test="userEntity.password != null">password= #{userEntity.password,jdbcType=VARCHAR},</if>
            <if test="userEntity.avatar != null">avatar= #{userEntity.avatar,jdbcType=VARCHAR},</if>
            <if test="userEntity.createTime != null">create_time= #{userEntity.createTime,jdbcType=DATE},</if>
            <if test="userEntity.online != null">online= #{userEntity.online,jdbcType=TINYINT},</if>
            <if test="userEntity.enabled != null">enabled= #{userEntity.enabled,jdbcType=TINYINT},</if>
            <if test="userEntity.lastLoginTime != null">last_login_time= #{userEntity.lastLoginTime,jdbcType=DATE},</if>
            <if test="userEntity.gender != null">gender= #{userEntity.gender,jdbcType=INTEGER},</if>
            <if test="userEntity.email != null">email= #{userEntity.email,jdbcType=VARCHAR},</if>
            <if test="userEntity.region != null">region= #{userEntity.region,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{userEntity.id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
        DELETE FROM ichat_user
        WHERE id = #{id}
    </delete>
</mapper>

